app-title Informativos

md-button.md-fab.md-fab-bottom-right(href="/informativos/novo")
  md-icon(md-svg-icon="plus",size=32)

md-card
  md-card-content(layout-padding)

    div(layout="column",layout-gt-xs="row")
      div(flex="70")
        md-input-container.md-block.m-t-none(md-no-float="")
          md-icon(md-svg-icon="magnify")
          input(ng-model='$ctrl.query.filter.title', name='title', placeholder="Titulo")
      div(flex="30")
        md-input-container.md-block.m-t-none(md-no-float="" )
          md-select(ng-model='$ctrl.query.filter.typeId', name="typeId",  placeholder="Tipos")
            md-option(value="") Tipos
            md-option(ng-repeat="type in $ctrl.types", ng-value='type.id')
              | {{type.name}}


  md-table-container

    table(md-table, md-progress="$ctrl.dataPromise",)
      thead(md-head, md-order="$ctrl.query.order")
        tr(md-row)
          th(md-column, md-order-by="title") Titulo
          th(md-column, md-order-by="typeId") Tipo
          th(md-column, md-order-by="date") Dia
          th(md-column,width="120")

      tbody(md-body)
        tr(md-row, ng-repeat="informative in $ctrl.informatives | filter:$ctrl.query.filter | orderBy:query.order")
          td(md-cell) {{::informative.title}}
          td(md-cell) {{::informative.typeId | informativeType}}
          td(md-cell) {{::informative.date | date}}
          td.md-cell-buttons(md-cell)
            md-button.md-icon-button(href="/informativos/{{informative.id}}/editar")
              md-icon(md-svg-icon="pencil")
            md-button.md-icon-button(ng-click="$ctrl.delete($event, informative, $index)")
              md-icon(md-svg-icon="delete")

    div.no-record(ng-show="$ctrl.informatives.length == 0",align="center")
      | Nenhum informativo criado
